.cards {
  /* height: 600px; */
  /* width: 100%; */
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: absolute;
  /* width: 80%; */
  /* height: 100vh; */
  /* background: #f1f1f1; */
  /* top: -50px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 7px; */
  /* margin-bottom: 50px; */
}

.card img {
  width: 100%;
  /* height: 100%; */
  border-radius: 20px;
  /* object-fit: cover; */
}

.card-1 {
  top: 50px;
  /* left: ; */
  left: translate(-50%, -50%);
  /* top: 50%; */
}

.card-2 {
  /* left: 35px; */
  left: translate(-50%, -50%);
  top: 70px;
}

.card-3 {
  /* left: 70px; */
  left: translate(-50%, -50%);
  top: 90px;
}

.card-4 {
  /* left: 105px; */
  left: translate(-50%, -50%);
  top: 100px;
}

.card-5 {
  /* left: 140px; */
  left: translate(-50%, -50%);
  top: 90px;
}

@media (max-width: 768px) {
  .card-1{
    top: 100px;
  }
  .card-2{
    top: 350px;
  }
  .card-3{
    top: 400px;
  }
  .card-4{
    top: 550px;
  }
}