@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Black'), local('Gilroy-Black'),
    url('./fonts/Gilroy-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  src: local('Lato-Black'), local('Lato-Black'),
    url('./fonts/Lato-Regular/Lato-Black.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red;
  outline: 1px solid blue;
  color: yellow; */
}
.form-input input {
  @apply bg-transparent border-none outline-none border-b-2 border-white text-white;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 640px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.main-heading {
  font-family: 'Gilroy', sans-serif !important;
  font-weight: bold;
}

.content_title::before {
  font-weight: 400;
  display: block;
  font-size: 1.5rem;
  margin-bottom: 10vh;
  text-align: center;
}

@layer components {
  .card {
    @apply absolute top-0 left-0 w-full h-full;
  }
}

::-webkit-scrollbar {
  display: none;
}
