/* components/AnimatedHeading.module.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .heading span {
    display: inline-block;
    font-weight: bolder;
    color: white;
    word-spacing: 20px;
    font-size: 50px;
  }
  